<%= form_for @photo, url: create_vacation_photos_path do |f| %>
<div class="">
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>
<div class="">
  <%= f.label :photo %>
  <%= f.attachment_field :photo %>
</div>

<%= f.submit %>
<% end %>
